@font-face {
    font-family: 'Raleway';
    src: url('/assets/font/raleway/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/assets/font/raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Raleway', sans-serif;
}

i.mdi {color: rgba(230, 230, 230, 0.88);}
i.mdi.mdi-alert {color: rgba(240, 39, 39, 0.78);}
i.mdi.mdi-bell-ring {color: rgba(240, 39, 39, 0.78);}
i.mdi.mdi-checkbox-marked-circle-outline {color: rgba(63, 75, 243, 0.82);}

html {
	background: url(https://wallpaperscraft.com/image/road_sunset_marking_grass_102104_3840x2400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	
    position: relative;
	min-height: 100%;
}

/* HTML INTERNAL LOADER CSS */

.loader {
	position: fixed;
	margin: auto;
	margin-top: 150px;
}


/* BLOCK BOARD - START */

.container #BOARD .main {
	padding: 112px 580px;
	padding: auto;
	position: fixed;
	top: 0;
	left: 0;

	background-color: rgba(236, 236, 236, 0.40);
}
/* BLOCK BOARD - END */


/* BLOCK CLOCK - START */

.container #CLOCK .main {
	padding: 50px 35px;
	position: fixed;
	top: 0;
	right: 0;

	background-color: rgba(236, 236, 236, 0.40);
}
.container #CLOCK .main span {
	color: rgba(22, 22, 22, 0.88);
}
.container #CLOCK .main span.hours {
	font-size: 98px;
}
.container #CLOCK .main span.date {
	font-size: 38px;
}
/* BLOCK CLOCK - END */


/* BLOCK WEATHER - START */
.container #WEATHER .main {
	padding: 60px 34px;
	position: fixed;
	right: 0;
	margin-top: 308px;

	background-color: rgba(236, 236, 236, 0.40);
}
.container #WEATHER .main h1 {
	font-size: 28px;
	margin-bottom: 22px;
}
.container #WEATHER .main .weather-col img.icon-img {
	width: 90px;
	height: 90px;
}
.container #WEATHER .main .weather-col {
	display: inline-block;
}
/* BLOCK WEATHER - END */


/* BLOCK FLASHINFO - START */
.container #FLASHINFO .main {
	padding: 70px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(236, 236, 236, 0.40);
	color: rgba(247, 247, 247, 0.71);
}
.container #FLASHINFO .main h1 {
	margin-top: -55px;
}
.container #FLASHINFO .main h1 small {
	font-size: 20px;
}
.tickercontainer {
	margin-top: 35px;
	width: 738px; 
	height: -27px;
	margin: 0; 
	padding: 0 600px;
	overflow: hidden; 
}
.tickercontainer .mask {
	position: relative;
	left: 10px;
	line-height: -20px;
	top: -5px;
	width: 718px;
	margin-top: 15px;
}
ul.newsticker {
	position: relative;
	left: 750px;
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul.newsticker li {
	float: left;
	margin: 0;
	margin-left: 35px;
	padding: 0;
}
ul.newsticker a {
	white-space: nowrap;
	display: inline-block;
	padding: 0;
	color: rgba(247, 247, 247, 0.87);
	font-size: 24px;
	margin: 0 50px 0 0;
} 
ul.newsticker span {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 24px;
	color: rgba(247, 247, 247, 0.62);
} 
ul.newsticker i.mdi {
	font-size: 24px;
	margin-left: 2px;
	margin-right: 5px;
}
/* BLOCK FLASHINFO - START */


/* BLOCK PARTNERS - START */
.container #PARTNERS .main {
	padding: 50px;
	position: fixed;
	text-align: center;
	bottom: 206px;
	right: 0;
	left: 0;

	background-color: rgba(236, 236, 236, 0.28);
	color: rgba(247, 247, 247, 0.8);
}
.container #PARTNERS .main ul li {
	display: inline-block;
	list-style: none;
	margin-left: 22px;
}
.container #PARTNERS .main ul li img {
	right:25%;
	top:0px;
	width:82%;
	height:auto;
}
/* BLOCK PARTNERS - END */


/* BLOCK SCHEDULE - START */
.container #SCHEDULE .main {
	padding: 55px 150px;
	position: fixed;
	bottom: 0;
	right: 0;

	color: rgba(247, 247, 247, 0.8);
}
.container #SCHEDULE .main h1 {
	font-size: 28px;
	margin-left: -25px;
	margin-bottom: 0px;
}
.container #SCHEDULE .main p {
	display: inline-block;
	margin-bottom: -78px;
	margin-left: 10px
}
.container #SCHEDULE .main p span {
	margin-left: 10px;
	font-size: 18px;
}
.container #SCHEDULE .main p .first {
	margin-left: -35px;
}
/* BLOCK SCHEDULE - END */